/*
 * style css
 * 全局样式文件
 */
@import "reset.css"; /*引入重置样式*/
@import "localElementUI"; /*引入elementUI自定义的样式*/
@import "../font/iconfont.css"; // 引入字体图标样式

/*  内容轮廓 */
.container-outer {max-width: 1920px;min-width: 1280px;width: 100%;margin: auto;padding: 0;overflow: hidden;}
.container-inner { width: 1280px; margin: 0 auto;padding: 0;overflow: hidden; }

/* 左右浮动与清除浮动*/
.fl{float: left;}
.fr{float: right;}
.clearfix { *zoom: 1; }
.clearfix:after { clear: both;overflow: hidden; content: ""; display: block;height: 0; }
